:root{
    --bg-color-principal: #056251;
    --bg-color: #E6E6E6;
    --font-principal: "Inter", sans-serif;
    --bg-color-btn-selected: #0C7260;
}

html{
    box-sizing: border-box;
}


*{
    font-family: var(--font-principal);
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

/* Globales */
h1, h2, h3{
    margin: 0;
}

a{
    text-decoration: none;
}

.disabled{
    background-color: #e7e7e7 !important;
}
/* ------- */

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.navbar{
    width: 13%;
    background-color: #085A4B;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.navbar .logo{
    width: 100%;
    background-color: #fff;
    flex: 20%;
}

.navbar .logo img {
    width: 100%;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 80%;
    gap: 10px;
}

.navbar .menu .option{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 10px 0 5px;
}

.navbar .menu .option .svgOption{
    width: 10px;
}

.navbar .menu .option svg{
    transition: all .3s ease-in-out;
}

.open{
    transform: rotate(90deg);
}

.navbar .menu .option>:last-child{
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* arreglar EL COLOR DE INICIO Y EL TAMAÑO*/
.navbar .menu .option p,
.navbar .menu .option a{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.navbar .menu .option:hover{
    background-color: #0C7260;
}

.navbar .menu .submenu{
    display: grid;
    grid-template-rows: 0fr;
    transition: all .3s ease-in-out;
}
.navbar .submenu .options{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.showOptions{
    grid-template-rows: 1fr !important;
}

.options{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 5px;
}

.openPaddingOptions{
    padding-top: 10px;
    padding-bottom: 10px;
}

.options a{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
}

.options a:hover{
    background-color: #0C7260;
}

.options a span{
    margin-right: 5px;
}

.options a span svg{
    width: 8px;
}

.selected{
    background-color: #0C7260;
}

.header{
    background: var(--bg-color-principal);
}

.content{
    width: 87%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.header h1{
    width: 35%;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.header span{
    font-weight: 500;
}

.container_userDetails_logout{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 50px;
}

.userDetails{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.userDetails div span .username{
    font-weight: 300;
}

.userDetails div .username_rol{
    display: flex;
    justify-content: left;
    font-size: 12px;
}

.userDetails svg{
    width: 40px;
}

.container_userDetails_logout a svg{
    width: 40px;
    cursor: pointer;
}

.fondo_blanco{
    position: absolute;
    top: -200px;
    right: -220px;
    width: 1000px;
    height: 800px;
    background-color: #fff;
    transform: rotate(45deg);
}

@media screen and (max-width: 1500px){
    .header{
        padding: 10px 20px;
    }

    .header h1{
        font-size: 13px;
    }

    .fondo_blanco{
        position: absolute;
        top: -200px;
        right: -500px;
        width: 1000px;
        height: 800px;
        background-color: #fff;
        transform: rotate(45deg);
    }

    .navbar .menu .option p, .navbar .menu .option a {
        font-size: 13px;
    }

    .navbar .menu .option>:last-child {
        gap: 5px;
    }

}

.main{
    padding: 15px;
    display: flex;
    height: 100vh;
    justify-content: center;
    background: var(--bg-color);
}

/* Pagina de Error */
.containerError{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containerError h3{
    font-size: 40px;
    text-transform: uppercase;
}

.containerError p{
    font-size: 30px;
    font-weight: 700;
    color: #FF0000;
}

/* estilos login */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    border-radius: 80px 30px 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

.login-left {
    background-color: var(--bg-color-principal);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.logo-login {
    width: 80%;
    margin-bottom: 20px;
}

.login-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 50px;
}

.login-right .login-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--bg-color-principal);
}

.login-right h3{
    font-size: 18px;
}

.login-right p,
.login-right form label{
    font-size: 13px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    background: rgba(245, 245, 245, 0.44);
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 0 solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
}

input:focus-visible{
    outline: none;
    border-bottom: 2px solid var(--bg-color-principal);
    /*outline: 1px auto var(--bg-color-principal);*/
}

.login-container button {
    width: 100%;
    padding: 13px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-color-principal);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.login-container button:hover {
    background-color: #004f5a;
}

/* inicio */
.inicio{
    width: 100%;
    height: fit-content;
    padding: 60px 20px;
    background: #ffffff;
    border-radius: 10px;
}

.inicio h1{
    font-size: 25px;
}

.inicio p{
    color: rgb(0,0,0, 60%);
    font-weight: 600;
}

/* ESTILOS DOCUMENTOS */

.finished{
    background-color: #fa7575;
    border: 1px solid #d91212;
}

.follow{
    background-color: #33cb67;
    border: 1px solid var(--bg-color-principal);
}

/* -------------- PENDIENTES DE RECEPCION --------------- */

/*              HEADER             */
.containerPendientesRecepcion,
.containerSeguimiento{
    width: 100%;
}

.pendientesRecepcion_header,
.seguimiento_header{
    width: 100%;
    margin-bottom: 20px;
}

.pendientesRecepcion_header h2,
.seguimiento_header h2{
    text-transform: uppercase;
}

.pendientesRecepcion_header p:nth-child(2){
    color: var(--bg-color-principal);
    font-weight: 700;
    margin-bottom: 30px;
}

.pendientesRecepcion_header .fecha_busqueda{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pendientesRecepcion_header .fecha_busqueda .fecha p,
.pendientesRecepcion_header .fecha_busqueda .fecha input{
    margin: 0;
}

.pendientesRecepcion_header .fecha_busqueda .fecha p{
    margin-bottom: 10px;
}

.pendientesRecepcion_header .fecha_busqueda .busqueda{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    height: fit-content;
    border-radius: 10px;
    padding-left: 5px;
}

.pendientesRecepcion_header .fecha_busqueda .busqueda input{
    margin: 0;
}

/*              BODY             */
.pendientesRecepcion_body table,
.listadoDocumentos_body table,
.seguimiento_body table{
    width: 100%;
    border-spacing: 0;
}


.pendientesRecepcion_body table thead tr,
.listadoDocumentos_body table thead tr,
.seguimiento_body table thead tr{
    background-color: #fff;
    font-size: 14px;
}

.pendientesRecepcion_body table thead tr th,
.listadoDocumentos_body table thead tr th,
.seguimiento_body table thead tr th{
    font-weight: 600;
    padding: 10px 5px;
}

.seguimiento_body table thead tr th:nth-child(1){
    width: 70px;
}

.pendientesRecepcion_body table thead tr th:nth-child(1),
.listadoDocumentos_body table thead tr th:nth-child(1){
    width: 100px;
}

.listadoDocumentos_body table thead tr th:nth-child(3){
    width: 250px;
}

.pendientesRecepcion_body table thead tr th:nth-child(6){
    width: 60px;
}

.pendientesRecepcion_body table tbody tr,
.listadoDocumentos_body table tbody tr,
.seguimiento_body table tbody tr{
    text-align: center;
    font-size: 13px;
}

.pendientesRecepcion_body table tbody tr td,
.listadoDocumentos_body table tbody tr td,
.seguimiento_body table tbody tr td{
    padding: 5px 0;
}

.pendientesRecepcion_body table tbody tr td:first-child,
.listadoDocumentos_body table tbody tr td:first-child,
.seguimiento_body table tbody tr td:first-child{
    color: #FF0000;
    font-weight: 600;
}

.estado{
    padding: 5px 3px;
    border-radius: 5px;
}


.pendientesRecepcion_body table tbody tr:nth-child(even),
.listadoDocumentos_body table tbody tr:nth-child(even),
.seguimiento_body table tbody tr:nth-child(even){
    background-color: #fff;
}

.pendientesRecepcion_body table tbody tr .actions,
.listadoDocumentos_body table tbody tr .actions,
.seguimiento_body table tbody tr .actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.pendientesRecepcion_body table tbody tr .actions .action,
.listadoDocumentos_body table tbody tr .actions .action,
.seguimiento_body table tbody tr .actions .action{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
}

.pendientesRecepcion_body table tbody tr .actions .action .tooltip,
.listadoDocumentos_body table tbody tr .actions .action .tooltip,
.seguimiento_body table tbody tr .actions .action .tooltip{
    position: absolute;
    width: 120px;
    border: 1px solid #000;
    border-radius: 5px;
    top: -30px;
    left: -45px;
    padding: 5px;
    font-size: 10px;
    cursor: none;
    display: none;
    background-color: #A3A3A3;
}

.pendientesRecepcion_body table tbody tr .actions .action .tooltip .triangulo,
.listadoDocumentos_body table tbody tr .actions .action .tooltip .triangulo,
.seguimiento_body table tbody tr .actions .action .tooltip .triangulo{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -5px;
    background-color: #A3A3A3;
    transform: rotate(40deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.pendientesRecepcion_body table tbody tr .actions .action:hover .tooltip,
.listadoDocumentos_body table tbody tr .actions .action:hover .tooltip,
.seguimiento_body table tbody tr .actions .action:hover .tooltip{
    display: block;
}

.actions a{
    color: #000;
}

/* EStilo de registro administrados y area */

.container-registro-administrado{
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding-bottom: 10px;
    
}

.container-registro-administrado h2{
    text-align: left;
    margin-bottom: 10px;
}
.container-registro-administrado, form div:first-child{
    margin-bottom: 15px
}

.container-registro-area{
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex; 
    height: 100%; 
}

.container-registro-administrado form .section h3,
.container-registro-area form .section h3{
    background-color: var(--bg-color-principal);
    color: white;
    padding: 10px 5px;
    text-align: left;
    font-size: 15px;
    
}

.containerRegistroArea {
    width: 67%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 5%;
    padding-left: 5px;
}

.form-group label {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 10%; 

} 

.form-group input, .form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    width: 50%;  
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px 20px;  
    
}

.container-registro-administrado form button, 
.container-registro-area form button {
    padding: 10px 20px;
    background-color: #00695c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
}

.container-registro-administrado form button:hover {
    background-color: #004d40;
}

/* EStilo de registro area */



/* contenedor de los modales */


.modal-container{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.83);
}

.modals{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* modal confirmar recepcion */
.modalConfirmar{
    background-color: #fff;
    border-radius: 10px;
}

.modalConfirmar .header{
    width: 200px;
    margin: 10px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.modalConfirmar .header svg{
    width: 50%;
}

.modalConfirmar .body .mensaje{
    padding: 30px 20px;
}

.modalConfirmar .body form{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.modalConfirmar .body form input{
    cursor: pointer;
    font-weight: 500;
}

.modalConfirmar .body form input[type="submit"]{
    background-color: var(--bg-color-principal);
}

.modalConfirmar .body form input:last-child{
    background-color: var(--bg-color);
}








