:root{
    --bg-color-principal: #056251;
    --bg-color: #E6E6E6;
    --font-principal: "Inter", sans-serif;
    --bg-color-btn-selected: #0C7260;
}

html{
    box-sizing: border-box;
}


*{
    font-family: var(--font-principal);
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

/* Globales */
h1, h2, h3{
    margin: 0;
}

a{
    text-decoration: none;
}
/* ------- */

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.navbar{
    width: 13%;
    background-color: #085A4B;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.navbar .logo{
    width: 100%;
    background-color: #fff;
    flex: 20%;
}

.navbar .logo img {
    width: 100%;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 80%;
    gap: 10px;
}

.navbar .menu .option{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 5px;
}

.navbar .menu .option .svgOption{
    width: 10px;
}

.navbar .menu .option svg{
    transition: all .3s ease-in-out;
}

.open{
    transform: rotate(90deg);
}

.navbar .menu .option>:last-child{
    flex: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* arreglar EL COLOR DE INICIO Y EL TAMAÑO*/
.navbar .menu .option p,
.navbar .menu .option a{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
}

.navbar .menu .option:hover{
    background-color: #0C7260;
}

.navbar .menu .submenu{
    display: grid;
    grid-template-rows: 0fr;
    transition: all .3s ease-in-out;
}
.navbar .submenu .options{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.showOptions{
    grid-template-rows: 1fr !important;
}

.options{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}

.openPaddingOptions{
    padding-top: 10px;
    padding-bottom: 10px;
}

.options a{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.options a:hover{
    background-color: #0C7260;
}

.options a span{
    margin-right: 5px;
}

.selected{
    background-color: #0C7260;
}

.header{
    background: var(--bg-color-principal);
}

.content{
    width: 87%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.header h1{
    width: 35%;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.header span{
    font-weight: 500;
}

.container_userDetails_logout{
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 50px;
}

.userDetails{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
}

.userDetails svg{
    width: 40px;
}

.container_userDetails_logout svg{
    width: 40px;
    cursor: pointer;
}

.fondo_blanco{
    position: absolute;
    top: -200px;
    right: -220px;
    width: 1000px;
    height: 800px;
    background-color: #fff;
    transform: rotate(45deg);
}

@media screen and (max-width: 1500px){
    .header{
        padding: 10px 20px;
    }

    .header h1{
        font-size: 13px;
    }

    .fondo_blanco{
        position: absolute;
        top: -200px;
        right: -500px;
        width: 1000px;
        height: 800px;
        background-color: #fff;
        transform: rotate(45deg);
    }

    .navbar .menu .option p, .navbar .menu .option a {
        font-size: 13px;
    }

    .navbar .menu .option>:last-child {
        gap: 5px;
    }

}

.main{
    padding: 15px;
    display: flex;
    height: 100vh;
    justify-content: center;
    background: var(--bg-color);
}

/* estilos login */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
    border-radius: 80px 30px 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

.login-left {
    background-color: var(--bg-color-principal);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    text-align: center;
}

.logo-login {
    width: 80%;
    margin-bottom: 20px;
}

.login-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 50px;
}

.login-right .login-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--bg-color-principal);
}

.login-right h3{
    font-size: 18px;
}

.login-right p,
.login-right form label{
    font-size: 13px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    background: rgba(245, 245, 245, 0.44);
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 0 solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
}

input:focus-visible{
    outline: none;
    border-bottom: 2px solid var(--bg-color-principal);
    /*outline: 1px auto var(--bg-color-principal);*/
}

button {
    width: 100%;
    padding: 13px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-color-principal);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #004f5a;
}

/* inicio */
.inicio{
    width: 100%;
    height: fit-content;
    padding: 60px 20px;
    background: #ffffff;
    border-radius: 10px;
}

.inicio h1{
    font-size: 25px;
}

.inicio p{
    color: rgb(0,0,0, 60%);
    font-weight: 600;
}